<%if action == :new%>
<%action_url = cats_url%>
<%button_text = "Create Cat"%>
<%elsif action == :edit%>
<%action_url = cat_url(cat)%>
<%button_text = "Edit Cat"%>
<%end%>

<form action="<%=action_url%>" method="post">
    <%if action == :edit%>
        <input type="hidden" name="_method" value="patch">
    <%end%>

    <label>
        Name: 
        <input type="text" name = "cat[name]" value="<%=cat.name%>">
    </label>
    <label>
        Sex:
            <input type="radio" name="cat[sex]" value="M" <%=cat.sex == "M" ? "checked" : ""%>> Male
            <input type="radio" name="cat[sex]" value="F"<%=cat.sex == "F" ? "checked" : ""%>> Female
     
       
       
    </label>
    <label>
        Birth Day: 
        <input type="date" name="cat[birth_date]" value="<%=cat.birth_date%>">
    </label>
    <label>
        Color: 
        <select name="cat[color]" >
                <%unless cat.color%>
                    <option disabled=true selected=true>--select color--</option>
                <%else%>
                    <option disabled=true>--select color--</option>
                <%end%>
            <%Cat::ALL_COLORS.each do |color|%>
                <option value="<%=color%>" <%=cat.color == color ? "selected" : ""%>><%=color.capitalize%></option>
            <%end%>
        </select>
    </label>
    <label>
        Description: 
        <textarea name="cat[description]"><%=cat.description%></textarea>
    </label>

    <input type='submit' value="<%=button_text%>">
</form>